/* body{
    background-color: aqua;
}
    .container{
    background-color: azure;
    height: 400px;
    width: 400px;
    border: 2px solid orangered;
    margin-top: 200px;
    margin-left: 200px;
    padding-top: 100px;
    padding-left: 100px;
    box-sizing: border-box;
}
.child1{
    background-color: blueviolet;
    border: 1px solid brown;
    height: 200px;
    width: 200px;
    padding-top: 40px;
    padding-left: 40px;
} */

div p{
    background-color: yellow;
}
section p{
    background-color: hotpink;
}
div+p{
    background-color: green;
}
div #vb{
    background-color: blueviolet;
}
div .nb{
    background-color: darkblue;
}